<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>platform-application</key>
	<true/>
	<key>get-task-allow</key>
	<true/>
	<key>task_for_pid-allow</key>
	<true/>
	<key>com.apple.private.security.no-container</key>
	<true/>
	<key>com.apple.private.security.no-sandbox</key>
	<true/>
	<key>com.apple.private.amfi.can-check-trust-cache</key>
	<true/>
	<key>com.apple.security.exception.iokit-user-client-class</key>
	<array>
		<string>AppleMobileFileIntegrityUserClient</string>
		<string>IOSurfaceRootUserClient</string>
		<string>IOHDIXControllerUserClient</string>
	</array>
	<key>com.apple.private.bindfs-allow</key>
	<true/>
	<key>com.apple.private.coreservices.canmaplsdatabase</key>
	<true/>
	<key>com.apple.private.security.storage.AppBundles</key>
	<true/>
	<key>com.apple.private.security.storage.AppDataContainers</key>
	<true/>
	<key>com.apple.private.xpc.launchd.userspace-reboot</key>
	<true/>
	<key>com.apple.springboard.CFUserNotification</key>
	<true/>
	<key>com.apple.system-task-ports</key>
	<true/>
	<key>com.apple.system-task-ports.control</key>
	<true/>
	<key>com.apple.private.thread-set-state</key>
	<true/>
	<key>com.apple.private.record_system_event</key>
	<true/>
	<key>com.apple.private.roots-installed-read-write</key>
	<true/>
	<key>com.apple.private.security.storage.driverkitd</key>
	<true/>
	<key>com.apple.private.security.storage.launchd</key>
	<true/>
	<key>com.apple.private.security.system-mount-authority</key>
	<true/>
	<key>com.apple.private.set-atm-diagnostic-flag</key>
	<true/>
	<key>com.apple.private.spawn-panic-crash-behavior</key>
	<true/>
	<key>com.apple.private.spawn-subsystem-root</key>
	<true/>
	<key>com.apple.private.vfs.allow-low-space-writes</key>
	<true/>
	<key>com.apple.private.vfs.graftdmg</key>
	<true/>
	<key>com.apple.private.vfs.pivot-root</key>
	<true/>
	<key>com.apple.rootless.restricted-block-devices</key>
	<true/>
	<key>com.apple.rootless.storage.early_boot_mount</key>
	<true/>
	<key>com.apple.rootless.volume.Preboot</key>
	<true/>
	<key>com.apple.security.network.client</key>
	<true/>
	<key>com.apple.security.network.server</key>
	<true/>
	<key>com.apple.private.diskimages.kext.user-client-access</key>
	<true/>
	<key>com.apple.private.xpc.launchd.storage-mounter</key>
	<true/>
	<key>com.apple.private.vfs.role-account-unmount</key>
	<true/>
	<key>com.apple.private.vfs.role-account-openfrom</key>
	<true/>
	<key>com.apple.rootless.storage.apfs_boot_mount</key>
	<true/>
	<key>com.apple.private.apfs.mount-root-writeable-at-shutdown</key>
	<true/>
	<key>com.apple.private.security.disk-device-access</key>
	<true/>
</dict>
</plist>
